html, body, a, p {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content{
    padding-top: 200px;
}
.tabla-productos{
    margin-top: 40px;
}
.side-bar{
}
.sidebar ul{
    list-style: none;
}
.side-bar ul li{
    padding: 10px;
}
.sidebar{
    padding: 100px 5px 5px;
}
.pedido{
    height: 100vh;
}
.pedido-content{
    padding: 40px;
    margin: 25px;
}
.sidebar-ul{
    
}
.contenido{
}
.profile-img{
    max-width: 200px;
}
.profile-section{
    margin-top: 100px;
}
.profile-container{
    padding: 50px;
}
.empresa-section{
    margin-top: 100px;
}
.empresa-content{
    padding: 50px;
}
.search{
    padding: 25px;
}
.foto-pedido{
    max-width: 120px;
}